

{% extends 'index.html' %}




{% block senderos %}
    {% for sendero in senderos %}

        <main class="container py-2">
            <div class="mt-4 mb-2" ></div>

            
    
            <article class="postcard light blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src={{ sendero.fotos.0.url }} alt="Image Title" />
                </a>
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="#">{{ sendero.nombre }}</a></h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i> {{ sendero.duracion}} minutos
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">{{ sendero.descripcion }}</div>
                    <ul class="postcard__tagbox">
                        {% for tag in sendero.tags %}
                        <li class="tag__item"><i class="fas fa-tag mr-2"></i>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                    {% if user.is_authenticated %} 
                
                    <div class="row mt-4">
                        <div class="col col-lg-2">
                            <a  href="{% url 'editar' id=sendero.id %}" class="mt-2 mb-2 btn btn-info">Editar</a>

                        </div>
                        <div class="col col-lg-2">

                            <a  href="{% url 'eliminar' id=sendero.id %}" class="mt-2 mb-2  btn btn-danger">Eliminar</a>
                        </div>

                        
                        
                    </div>

                    {% endif %}
                </div>
            </article>
    
        </main>
{% endfor %}


{% if user.is_authenticated %} 
       
<div class="container">
	<a href="/createSenderoFormular" class="btn btn-primary w-100">Añadir nuevo sendero</a>
</div>

{% endif %}







{% endblock %}