{% load static %}
<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link href="{% static 'boostrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'pepe/css/style.css' %}" rel="stylesheet">

        <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>

        <title>Senderos Pepe</title>
    </head>
    <body>
        <h1>Home</h1>
        
        {% if user.is_authenticated %} 
        <div class="container">
            <a href="{% url 'dologout' %}" class="btn btn-primary w-100">Logout</a>
        </div>
        {% else %}
        <div class="container">
            <a href="{% url 'login' %}" class="btn btn-primary w-100">Login</a>
        </div>
        {% endif %}

        
        {% block login %}
        {% endblock %}

        {% block senderos %}
        {% endblock %}

        {% block add %}
        {% endblock %}

        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" ></script>

    </body>
    
</html>
